* {margin: 0px; padding: 0px; }

.container-body { display: flex; align-items; }


.container-nav { padding: 0 1rem; background-color: #212529; height: ;}
.container-section { display: flex; justify-content: space-between;}
