* {margin: 0px; padding: 0px; box-sizing: border-box;}

.container {display: grid; grid-template-rows: 100px 100vh 150px repeat(3, 450px) 100vh 100px;} 

nav {background-color: aqua; display: grid; grid-template-columns: repeat(2, 1fr); justify-content: space-between; align-items: center;}

ul{ display: grid; grid-template-columns: 100px 100px 300px 100px 100px;}

header {background-color: yellow;}

section {background-color: violet;}

main { background-color: aquamarine; }