* {margim: 0px; padding: 0px;}

body { background-color: #344334; color: aquamarine; display: flex; flex-direction: column; justify-content: space-between; height: 100vh;}

.container_main { display: flex;  flex-wrap: wrap; justify-content: space-evenly;}
.section-width1 { width: 35%; display: flex; flex-direction: column; align-items: flex-end;margin-right: 15px; }
.section-width2 { width: 62%; display: flex; flex-direction: column; justify-content: space-between; }
.section-container { width: 100vh; display: flex; justify-content: center;}
.div-width1 { width: 50%; height: 40vh; border-radius: 8px; background-color:  #448fae; align-items: flex-end; }
.div-width2 {width: 50%; height:20vh ; border-radius: 8px; background-color: #c54cbf; margin-top: 15px;}
.div-bgcolor { background-color: green;}
.div-div-estrutura{ width: 80%; height: 20vh; background-color:blue; border-radius: 8px;}
.div-container { display: flex; width:60% 2px solid red; width: 60%; height: 40vh; flex-flow: column wrap; justify-content: ; }
.div-div-width1 { width:  38vh; height: 40vh; background-color:  #e28c41; border-radius: 8px;}
.div-div-width2 { width: 62vh; display: flex; flex-direction: column; justify-content: space-between;}
.div-div-bgcolor {background-color: red; }
.div-container { }
